<div class="loading" *ngIf="!loaded">Loading</div>
<h3 *ngIf="!editMode;else editTitle">{{ "createAuctionPageTitle" | translate }}</h3>
<ng-template #editTitle><h3>{{ "editAuctionPageTitle" | translate }}</h3></ng-template>
<form class="form-register justify-content-center" [formGroup]="auctionForm" (ngSubmit)="onSubmit(auctionForm)">
  <!--nazwa-->
  <div class="form-group">
    <label for="title">{{ "title" | translate }}</label>
    <input type="text" id="title" class="form-control" formControlName="title">
  </div>
  <!--kategoria-->
  <div class="form-row">
    <!-- cena wywoławcza -->
    <div class="form-group col-3">
      <label for="startingPrice">{{ "startingPrice" | translate }}</label>
      <input type="number" id="startingPrice" class="form-control" formControlName="startingPrice">
    </div>
    <!-- czas trwania -->
    <div class="form-group col-2">
      <label for="duration">{{ "duration" | translate }}</label>
      <select id="duration" class="form-control" formControlName="duration">
        <option *ngFor="let durationOption of durations" [ngValue]="durationOption">{{durationOption}}</option>
      </select>
    </div>
    <!-- kategoria -->
    <div class="form-group col">
      <label for="category">{{ "category" | translate }}</label>
      <select id="category" class="form-control" formControlName="category">
        <option *ngFor="let category of availableCategories" [ngValue]="category.id">{{ category.name }}</option>
      </select>
    </div>
  </div>
  <!--opis-->
  <div class="form-group">
    <label for="description">{{ "itemDescription" | translate }}</label>
    <textarea type="number" id="description" class="form-control" formControlName="description" rows="8"></textarea>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!auctionForm.valid">{{ 'save' | translate }}</button>
</form>
