<div *ngIf="auction">
  <h2>{{auction.title}}</h2>
  <!-- categories the item is in -->
  <div class="row">
      <ul *ngFor="let category of auction.containingCategories; let last = last" class="list-inline">
        <li class="list-inline-item"><a routerLink="/category/{{category.id}}">{{category.name}} </a>
        <span *ngIf="!last">-></span></li>
      </ul>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-5">
      <img src="{{auction.photoUrl}}" class="img-fluid" />
    </div>
    <div class="col-xs-12 col-md-7">
      {{ "currentPrice" | translate }} : {{auction.currentPrice | number : '1.2-2' }} zł<br>
      {{ "endDate" | translate }} : {{auction.endDateTime | date: getDateTimeFormat() }}<br>
      <hr>
      <label>{{ "offer" | translate }} :</label><br><input value="{{auction.minimalBid | number : '1.2-2'}}"><br>
      Minimum: {{auction.minimalBid | number : '1.2-2'}}<br>
      <button class="btn btn-primary" type="submit">{{ "makeBid" | translate }}</button><br><br>
      {{ "seller" | translate }}: {{auction.sellerUsername}}
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <!-- render description -->
      <hr>
      <h3>{{ "itemDescription" | translate }}</h3>
       <div innerHTML={{auction.description}}></div>
      <hr>

      <!-- render auction offers -->
      <h3>{{ "offers" | translate }}</h3>
      <table class="table table-sm">
        <thead>
        <tr>
          <th>{{ "amount" | translate }}</th>
          <th>{{ "username" | translate }}</th>
          <th>{{ "date " | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let offer of auction.offers">
          <td>{{offer.amount | number : '1.2-2'}}</td>
          <td>{{offer.username}}</td>
          <td>{{offer.submissionDate | date: getDateTimeFormat()}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
